<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      Menu
    </ion-title>
    <ion-label slot="end" color="primary" (click)="dismiss_modal()">Close</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <ion-item *ngFor="let menu of menu_list" (click)="redirect(menu.url)">
      <ion-icon color="{{ menu.url === 'login' ? 'danger' : 'primary' }}" slot="start" name="{{ menu.icon }}"></ion-icon>
      <ion-label>{{ menu.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
