<ion-content color="dark" padding>
  <form class="login-form" [formGroup]="login" (ngSubmit)="logForm()" noValidate>
    <ion-label class="text-center" padding><h2><strong>Login</strong></h2></ion-label>
    <ion-item color="light">
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-label class="action-label">
      <a [routerLink]="['../signup']" color="primary">Create an account</a>
      <ion-label button class="forget" color="primary">Forget password</ion-label>
    </ion-label>
    <ion-button color="primary" expand="block" type="submit" [disabled]="!login.valid" fill="solid">Login</ion-button>
  </form>
</ion-content>
