.login-form {
    margin-top: 35%;
}

.text-center {
    text-align: center;
}

ion-item {
    margin-bottom: 20px;
}

.forget {
    position: absolute;
    right: 20px;
}

ion-button {
    margin-top: 15px;
}
