<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="todo">
      <ion-icon name="list" color="light"></ion-icon>
      <ion-label color="light">Todo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurant">
      <ion-icon name="restaurant" color="light"></ion-icon>
      <ion-label color="light">Restaurant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounting">
      <ion-icon name="analytics" color="light"></ion-icon>
      <ion-label color="light">Accounting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review">
      <ion-icon name="eye" color="light"></ion-icon>
      <ion-label color="light">Review</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
