<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center" color="light">
      Accounting
    </ion-title>
    <ion-buttons slot="end" color="light">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
