<app-nav title='Restaurant' back='true' default_href='home/restaurant'></app-nav>

<ion-content>
  <ion-list>
    <ion-list-header color="light">
      <ion-label>Information</ion-label>
      <ion-label>
          <ion-button size="small" (click)="save()" color="success">
              <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="delete()" color="danger">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-input text-right></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="light">
      <ion-label>Menu</ion-label>
      <ion-button size="small" (click)="add_menu()">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-list-header>
  </ion-list>
</ion-content>
