<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="back">
      <ion-back-button defaultHref="{{ href }}"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center" color="light">
      {{ title }}
    </ion-title>
    <ion-buttons slot="end" color="light">
      <ion-menu-button autoHide="false" (click)="present_menu()"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
