<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form class="login-form" [formGroup]="signup" (ngSubmit)="create()" noValidate>
    <ion-list *ngIf="signup">
      <ion-list-header>
        <ion-label>Account</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-input placeholder="Enter username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Enter password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="signup">
      <ion-list-header>
        <ion-label>Profile</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Enter first name" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Enter last name" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Enter email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input placeholder="Enter phone number" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-input placeholder="Enter location" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="link" slot="start"></ion-icon>
        <ion-input placeholder="Enter website" formControlName="website"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" color="success" [disabled]="!signup.valid">Create</ion-button>
  </form>
</ion-content>
