<app-nav title='Todo' back='true' default_href='home/todo'></app-nav>

<ion-content color="light" padding>
    <ion-list *ngIf="todo">
        <ion-list-header color="tertiary">
            <ion-label>Summary</ion-label>
            <ion-label>
                <ion-button size="small" color="light" (click)="save()" [disabled]="!todo.name">
                    <ion-icon size="small" slot="icon-only" name="save" color="success"></ion-icon>
                </ion-button>
                <ion-button size="small" color="light" (click)="delete()" *ngIf="todo._id">
                    <ion-icon size="small" slot="icon-only" name="trash" color="danger"></ion-icon>
                </ion-button>
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-input 
                text-right 
                slot="end" 
                [(ngModel)]="todo.name"
                placeholder="Enter todo title"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime 
                display-format="MM/DD/YYYY" 
                picker-format="MMMM DD YYYY"
                [(ngModel)]="todo.date"
            ></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="todo">
        <ion-list-header color="tertiary">            
            <ion-label>List</ion-label>
            <ion-button size="small" color="light" (click)="add_item()">
                <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-list-header>
        <ion-item *ngFor="let item of todo.list; let index = index">
            <ion-icon *ngIf="!todo._id" name="list" slot="start"></ion-icon>
            <ion-checkbox *ngIf="todo._id" 
                slot="start" 
                color="success" 
                checked="{{ item.status === 'done' }}"
                (click)="change_status(item, index, $event)"
            ></ion-checkbox>
            <ion-label>{{ item.title }}</ion-label>
            <ion-icon size="small" slot="end" name="create" color="primary" (click)="edit_item(item, index, $event)"></ion-icon>
            <ion-icon size="small" slot="end" name="trash" color="danger" (click)="remove_item(item, index, $event)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
