<app-nav title="Restaurant"></app-nav>

<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="search()" [(ngModel)]="query"></ion-searchbar>
  <ion-list>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" [routerLink]="['add']" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
