<app-nav title="Todo"></app-nav>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="search()" [(ngModel)]="query"></ion-searchbar>
  <ion-list padding>
    <ion-item detail="false" button *ngFor="let todo of todos" [routerLink]="[todo._id]" routerDirection="forward">
      <ion-icon slot="start" color="{{ todo.status === 'done' ? 'success' : 'primary' }}" name="today"></ion-icon>
      <ion-label><strong>{{ todo.name }}</strong></ion-label>
      <ion-label>{{ todo.date | date:'MM-dd-yyyy' }}</ion-label>
      <ion-checkbox 
        slot="end"
        color="success" 
        checked="{{ todo.status === 'done' }}" 
        (click)="change_status(todo, $event)"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="load($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="danger" [routerLink]="['add']" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
